# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

# Application signing keys
**/key.jks
**/keystore.properties
**/release.keystore

# Android-specific files
**/android/key.properties
**/android/app/src/main/res/values/google-services.json
**/android/app/src/debug/res/values/google-services.json
**/android/app/src/release/res/values/google-services.json

# iOS-specific files
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Runner.xcodeproj/
ios/Runner.xcworkspace/
ios/Pods/
ios/.symlinks/
ios/Podfile.lock
ios/Flutter/ephemeral/

# Generated or sensitive credentials
.env
.env.*
firebase.json
secrets.json

# Other sensitive files
**/*.pem
**/*.p12
**/*.key
**/*.crt
